.wrap {
    height: calc(100vh - 150px);

    display: flex;
flex-direction: column;
}

.top {
    height: 50px;
    background-color: #ccc;
    display: flex;

}

.top_left {
    line-height: 50px;
    padding-left: 30px;
    border-left: 5px solid blue;
}
.top_right {
    line-height: 50px;
    padding-left: 30px;
    display: flex;
    margin-top: 10px;
}



.right {
    background-color: blueviolet;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}

.add_button {

    margin-left: 20px;
}

.content {
    display: flex;
    height: calc(100vh - 200px);
    background-color: pink;
}
.left{
    background-color: yellow;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}